site_name: Dialograph
repo_url: https://github.com/nabin2004/dialograph

theme:
  name: material
  features:
    - navigation.tabs
    - content.code.copy

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: false

nav:
  - Home: index.md
  - API:
      - Dialograph: api/dialograph.md
      - Node: api/node.md
      - Edge: api/edge.md
